<div>
    <h2 data-translate="jCrmApp.client.home.title">Clients</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="client.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jCrmApp.client.home.createLabel">
                        Create new Client
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="jCrmApp.client.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthdate"><span data-translate="jCrmApp.client.birthdate">Birthdate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_name"><span data-translate="jCrmApp.client.last_name">Last Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="NIP"><span data-translate="jCrmApp.client.NIP">NIP</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="PESEL"><span data-translate="jCrmApp.client.PESEL">PESEL</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone_home"><span data-translate="jCrmApp.client.phone_home">Phone Home</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone_work"><span data-translate="jCrmApp.client.phone_work">Phone Work</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="client in vm.clients track by client.id">
                    <td><a ui-sref="client-detail({id:client.id})">{{client.id}}</a></td>
                    <td>{{client.name}}</td>
                        <td>{{client.birthdate | date:'mediumDate'}}</td>
                    <td>{{client.last_name}}</td>
                    <td>{{client.NIP}}</td>
                    <td>{{client.PESEL}}</td>
                    <td>{{client.phone_home}}</td>
                    <td>{{client.phone_work}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="client-detail({id:client.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client.edit({id:client.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client.delete({id:client.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
